.circle {
    /* color: #000; */
    /* transition: background 0.5s ease; */
    /* position: relative; */
    z-index: 20;
}

/* .circle:hover {
    background: radial-gradient(circle, #facc15 0%, #4f46e5 100%);
} */

/* Smooth hover animations */
.services-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Card lift effect */
.services-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}

/* IMAGE hover blur effect */
.card-img img {
    transition: transform 0.3s ease, filter 0.3s ease;
    /* transform add kiya */
    transform: scale(1);
    /* initial scale */
}

.services-card:hover .card-img img {
    transform: scale(1.2);
    /* filter: blur(1.5px); */
}

.circle img[src="/images/spider.png"] {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    padding: 4px;
}