.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.cursor.default {
  /* background-color: #0F9D58; Green dot */
  /* mix-blend-mode: normal; */
}

.cursor.text-mode {
  width: 70px;
  height: 70px;
  background-color: white;
  mix-blend-mode: difference; 
}